.footer {
  padding-top: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752090186500---spacing--4x);
  padding-bottom: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752090186500---spacing--4x);
  background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752090186500---background-color--bg-primary);
  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752090186500---text-color--text-primary);
}

@media screen and (max-width: 991px) {
  .footer {
    padding-top: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752090186500---spacing--3x);
    padding-bottom: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752090186500---spacing--3x);
  }
}

.footer.is-secondary {
  background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752090186500---background-color--bg-secondary);
  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752090186500---text-color--text-primary);
}

.footer.is-accent-primary {
  background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752090186500---core-accent-color--accent-primary);
  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752090186500---core-neutral-color--neutral-primary);
}

.footer.is-inverse {
  background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752090186500---background-color--bg-inverse);
  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752090186500---text-color--text-inverse-primary);
}

.footer.is-accent-secondary {
  background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752090186500---background-color--bg-accent-secondary);
  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752090186500---core-neutral-color--neutral-primary);
}

.footer.is-accent-tertiary {
  background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752090186500---background-color--bg-accent-tertiary);
  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752090186500---text-color--text-on-accent-tertiary);
}

.container {
  width: 100%;
  max-width: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752090186500---container--container-width);
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752090186500---container--container-padding-horizontal);
  padding-left: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752090186500---container--container-padding-horizontal);
}

.container.is-max {
  width: 100%;
  max-width: none;
}

.container.is-large {
  width: 95%;
  max-width: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752090186500---container--container-lg-width);
}

.container.is-small {
  width: 75%;
  max-width: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752090186500---container--container-sm-width);
}

@media screen and (max-width: 991px) {
  .container.is-small {
    width: 90%;
  }
}

.position_relative {
  position: relative;
}

.z-index_2 {
  z-index: 2;
}

.grid_4-col {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: minmax(0px, 1fr) minmax(0px, 1fr) 1fr 1fr;
  grid-template-rows: auto;
}

@media screen and (max-width: 991px) {
  .grid_4-col {
    grid-template-columns: minmax(0px, 1fr) minmax(0px, 1fr);
  }
}

@media screen and (max-width: 767px) {
  .grid_4-col {
    grid-template-columns: minmax(0px, 1fr);
  }
}

@media screen and (max-width: 991px) {
  .grid_4-col.tablet-1-col {
    grid-template-columns: minmax(0px, 1fr);
  }
}

.grid_4-col.gap-small {
  grid-column-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752090186500---gap--sm-gap);
  grid-row-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752090186500---gap--sm-gap);
}

.gap-small {
  grid-column-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752090186500---gap--sm-gap);
  grid-row-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752090186500---gap--sm-gap);
}

.grid_4-col.gap-medium {
  grid-template-rows: auto;
}

.gap-medium {
  grid-column-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752090186500---gap--md-gap);
  grid-row-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752090186500---gap--md-gap);
}

.footer_link {
  display: inline-flex;
  padding-top: 0.35em;
  padding-bottom: 0.35em;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 0.5em;
  grid-row-gap: 0.5em;

  font-weight: 400;
  text-decoration: none;
  color: color-mix(in srgb, currentColor 60%, transparent);
}

.footer_link:hover {
  opacity: 1;
  text-decoration: underline;
  color: color-mix(in srgb, currentColor 100%, transparent);
}

.footer_link.on-inverse {
  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752090186500---nav-link--nav-link-inverse);
}

.footer_link.on-inverse:hover {
  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752090186500---nav-link--nav-link-inverse);
}

.grid_2-col {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: minmax(0px, 1fr) minmax(0px, 1fr);
  grid-template-rows: auto;
}

@media screen and (max-width: 767px) {
  .grid_2-col {
    grid-template-columns: minmax(0px, 1fr);
  }
}

.grid_2-col.gap-small {
  grid-column-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752090186500---gap--sm-gap);
  grid-row-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752090186500---gap--sm-gap);
}

@media screen and (max-width: 767px) {
  .grid_2-col.gap-small {
    grid-column-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752090186500---gap--xs-gap);
    grid-row-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752090186500---gap--xs-gap);
  }
}

.grid_2-col.gap-medium {
  grid-column-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752090186500---gap--md-gap);
  grid-row-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752090186500---gap--md-gap);
}

@media screen and (max-width: 767px) {
  .grid_2-col.gap-medium {
    grid-column-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752090186500---gap--sm-gap);
    grid-row-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752090186500---gap--sm-gap);
  }
}

@media screen and (max-width: 767px) {
  .grid_2-col.mobile-l-1-col {
    grid-template-columns: 1fr;
  }
}

.gap-xsmall {
  grid-column-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752090186500---gap--xs-gap);
  grid-row-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752090186500---gap--xs-gap);
}

.margin-bottom_large {
  margin-bottom: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752090186500---spacing--4x);
}

@media screen and (max-width: 767px) {
  .margin-bottom_large {
    margin-bottom: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752090186500---spacing--2x);
  }
}

.width_100percent {
  width: 100%;
}

.grid_2-col.is-x-center {
  justify-items: center;
}

@media screen and (max-width: 991px) {
  .grid_2-col.tablet-1-col {
    grid-template-columns: 1fr;
  }
}

.gap-large {
  grid-column-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752090186500---gap--lg-gap);
  grid-row-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752090186500---gap--lg-gap);
}

.grid_2-col.gap-xsmall {
  grid-column-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752090186500---gap--xs-gap);
  grid-row-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752090186500---gap--xs-gap);
}

.footer_icon-group {
  display: flex;
  margin-bottom: 0rem;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  grid-column-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752090186500---spacing--0-5x);
  grid-row-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752090186500---spacing--0-5x);

  background-color: rgba(0,0,0,0);
}

@media screen and (max-width: 479px) {
  .footer_icon-group {
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
}

.margin-bottom_none {
  margin-bottom: 0 !important;
}

@media screen and (max-width: 991px) {
  .margin-bottom_none {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 767px) {
  .margin-bottom_none {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 479px) {
  .margin-bottom_none {
    margin-bottom: 0px;
  }
}

.footer_icon-link {
  display: inline-flex;
  padding-top: 0.35rem;
  padding-right: 0.35rem;
  padding-bottom: 0.35rem;
  padding-left: 0.35rem;
  justify-content: center;
  align-items: center;

  color: color-mix(in srgb,currentColor 70%,transparent);
}

.icon_small-1x1 {
  position: relative;

  display: flex;
  width: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752090186500---spacing--1-25x);
  height: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752090186500---spacing--1-25x);
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;

  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752090186500---text-color--text-accent-on-primary);
}

.text-color_inherit {
  color: inherit;
}

.screen-reader {
  position: absolute;

  overflow: hidden;
  width: 1px;
  height: 1px;
  margin-top: -1px;
  padding: 0px;

  border: 0px solid transparent;

  white-space: nowrap;
}

.text-color_secondary {
  color: color-mix(in srgb, currentColor 60%, transparent);
}

.max-width_large {
  max-width: 50rem;
}

#w-node-_25727a3d-379c-5c57-7915-14cd562c0b4d-9351d813.w-node-_60f5fdb0-a0e1-be3e-4300-e75b6415f493-6415f490 {
  grid-column-start: span 4;
  grid-column-end: span 4;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-_686aafad-4ad6-d604-e192-54da9351d81c-9351d813.w-node-_60f5fdb0-a0e1-be3e-4300-e75b6415f49a-6415f490 {
  grid-column-start: span 2;
  grid-column-end: span 2;
  grid-row-start: span 1;
  grid-row-end: span 1;
  justify-self: start;
  align-self: end;
}
#w-node-_4b35a35a-6825-701b-7465-a7558e90304e-9351d813.w-node-_60f5fdb0-a0e1-be3e-4300-e75b6415f4c2-6415f490 {
  grid-column-start: span 2;
  grid-column-end: span 2;
  grid-row-start: span 1;
  grid-row-end: span 1;
  align-self: center;
}
#w-node-_60f5fdb0-a0e1-be3e-4300-e75b6415f4c3-6415f490 {
}
@media screen and (max-width: 991px) {
  #w-node-_25727a3d-379c-5c57-7915-14cd562c0b4d-9351d813.w-node-_60f5fdb0-a0e1-be3e-4300-e75b6415f493-6415f490 {
    grid-column-start: span 2;
    grid-column-end: span 2;
  }
  #w-node-_686aafad-4ad6-d604-e192-54da9351d81c-9351d813.w-node-_60f5fdb0-a0e1-be3e-4300-e75b6415f49a-6415f490 {
    grid-column-start: span 2;
    grid-column-end: span 2;
    grid-row-start: span 1;
    grid-row-end: span 1;
  }
  #w-node-_60f5fdb0-a0e1-be3e-4300-e75b6415f4c3-6415f490 {
  }
  #w-node-_686aafad-4ad6-d604-e192-54da9351d859-9351d813.w-node-_60f5fdb0-a0e1-be3e-4300-e75b6415f4ea-6415f490 {
    justify-self: end;
  }
}
@media screen and (max-width: 767px) {
  #w-node-_25727a3d-379c-5c57-7915-14cd562c0b4d-9351d813.w-node-_60f5fdb0-a0e1-be3e-4300-e75b6415f493-6415f490 {
    grid-column-start: span 1;
    grid-column-end: span 1;
  }
  #w-node-_686aafad-4ad6-d604-e192-54da9351d81c-9351d813.w-node-_60f5fdb0-a0e1-be3e-4300-e75b6415f49a-6415f490 {
    grid-column-start: span 1;
    grid-column-end: span 1;
  }
  #w-node-_4b35a35a-6825-701b-7465-a7558e90304e-9351d813.w-node-_60f5fdb0-a0e1-be3e-4300-e75b6415f4c2-6415f490 {
    grid-column-start: span 1;
    grid-column-end: span 1;
  }
  #w-node-_686aafad-4ad6-d604-e192-54da9351d859-9351d813.w-node-_60f5fdb0-a0e1-be3e-4300-e75b6415f4ea-6415f490 {
    justify-self: start;
  }
}